    <div class="row">
        <div class="col-md-6">
            <!--
            Insert clickable static map image here that will take you to google maps.  Add a tooltip.
            Optional: Clickable map that will allow you to enter starting point & destination & show
            route between the two
            Stretch: See if there's a way to enter a google maps "search near here" in the directions modal
         -->
        </div>
        <div class="col-md-6">
            <h2 class="text-info">
                Why "Where's my Stuff"?
            </h2>
            <h3>
                The founders of Where's my Stuff move about as often as most people take
                vacation.  On average, they've moved once a year for the past 15 years.
            </h3>
            <h3>
                Every move meant packing up everything they owned into boxes.  And no matter
                how well the boxes were labeled, there were times when they just couldn't find
                that widget.  Sometimes not every box got unpacked right away and they forgot
                they already owned the widget and bought another.
            </h3>
            <h3>
                Our goal at Where's My Stuff? is to help you keep track of what you have and where
                it is.  Upload the name and description of your item, its photo, where it is, and
                never lose an item again.  You'll know that your rarely used craft supplies are in
                box 3 in the storage unit, and that your baby photos are in box 10 in the garage.
            </h3>

            <p>
                <a class="btn btn-primary btn-large" href="/profile">Sign up now!</a>
            </p>
        </div>

    </div>