    <div class="row">
        <div class="col-md-6">
            <script type="text/ng-template" id="searchbox.tpl.html">
                <input type="text" placeholder="Search Box">
            </script>
            <ui-gmap-google-map center="wms.center" zoom="wms.zoom">
                <ui-gmap-markers models="wms.markers"
                                 coords="'self'"
                                 icon="'icon'"
                                 options="'options'">
                </ui-gmap-markers>
                <!--TO DO Implement Google maps searchbox-->
                <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="UPPER_LEFT"></ui-gmap-search-box>-->
       
            </ui-gmap-google-map>
            <a href="http://maps.google.com">Click here for a larger map</a>
        </div>
        <div class="col-md-6">
            <h2 class="text-info">
                Why "Where's my Stuff"?
            </h2>
            <h3>
                The founders of Where's my Stuff move about as often as most people take
                vacation.  On average, they've moved once a year for the past 15 years.
            </h3>
            <h3>
                Every move meant packing up everything they owned into boxes.  And no matter
                how well the boxes were labeled, there were times when they just couldn't find
                that widget.  Sometimes not every box got unpacked right away and they forgot
                they already owned the widget and bought another.
            </h3>
            <h3>
                Our goal at Where's My Stuff? is to help you keep track of what you have and where
                it is.  Upload the name and description of your item, its photo, where it is, and
                never lose an item again.  You'll know that your rarely used craft supplies are in
                box 3 in the storage unit, and that your baby photos are in box 10 in the garage.
            </h3>

            <p>
                <a class="btn btn-primary btn-large" href="/register">Sign up now!</a>
            </p>
        </div>

    </div>