   
    <div class="row container grey-background">      
        
        <div class="col-md-5">
            <h4>Add your items below</h4>            
            <ul>
                <li ng-repeat="error in wms.validationErrors" class="text-danger">{{error}}</li>
            </ul>
            <form name = itemForm; novalidate>
                <div class="form-group">
                    <label>Name of item:</label>
                    <input type="text" ng-model="wms.itemToAdd.itemName" name="itemName" class="form-control" placeholder="Item Name" required />
                    <span ng-show="itemForm.itemName.$touched && itemForm.itemName.$error.required" class="error">
                        This field is required
                    </span>
                </div>
                <div class="form-group">
                    <label>Description of item:</label>
                    <input type="text" ng-model="wms.itemToAdd.itemDesc" name="itemDesc" class="form-control" placeholder="Item Description" />                    
                </div>
                <div class="form-group">
                    <label>Location of item:</label>
                    <select class="form-control" ng-model="wms.itemToAdd.itemLocation" name="itemLocation" required>
                        <option>Home - Living Room</option>
                        <option>Home - Dining Room</option>
                        <option>Home - Kitchen</option>
                        <option>Home - Master Bedroom</option>
                        <option>Home - Bedroom 1</option>
                        <option>Home - Bedroom 2</option>
                        <option>Home - Office</option>
                        <option>Home - Garage</option>
                        <option>Storage Unit</option>
                    </select>
                    <span ng-show="itemForm.itemLocation.$touched && itemForm.itemLocation.$error.required" class="error">
                        This field is required
                    </span>
                </div>
                <div class="form-group">
                    <label>Item Label:</label>
                    <input type="text" ng-model="wms.itemToAdd.itemLabel" name="itemLabel" class="form-control" placeholder="001" />
                </div>
                <div class="form-group">
                    <label>Item Owner:</label>
                    <select class="form-control" name="itemOwner"
                            ng-model="wms.selectedProfile"
                            ng-options="profile.fullname for profile in wms.profiles"
                            ng-change="wms.populateItemWithProfileID()"></select>
                    <span ng-show="itemForm.itemOwner.$touched && itemForm.itemOwner.$error.required" class="error">
                        This field is required
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <h4>Upload a Photo:</h4>
                            <button ng-click="wms.pickFile()">Upload a photo</button>
                            <h4>{{wms.itemToAdd.itemFilename}}</h4>
                            <!--<img ng-src="{{wms.itemToAdd.itemPhoto | fpConvert:{w: 100} }}" />-->
                            <img ng-src="{{wms.itemToAdd.itemPhoto}}" style="max-width:200px" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input id="btnCreateItem" type="button" class="btn btn-primary btn-block" value="Add Item"  ng-click="wms.createItem()"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input id="btnListItems" type="button" class="btn btn-success btn-block" value="List Items" ng-click="wms.displayUserItems()" />
                        </div>
                    </div>
                </div>                
            </form>
            
        </div>
        <div class="col-md-7" id="myStuffItemTable">
            
                <h4>Filter by Owner:</h4>
                <p>
                    <select ng-model="wms.selectedProfile"
                            ng-options="profile.fullname for profile in wms.profiles"
                            ng-change="wms.displayProfileItems()">

                    </select>
                </p>
            
            <table class="table table-bordered">     
                <tr style="font-size:large">
                    <th class="text-uppercase">Item Photo</th>
                    <th class="text-uppercase">Name</th>
                </tr>
                <tr>
                    <th>Click below to edit/add a photo</th>
                    <th>Click on the name to edit item details</th>
                </tr>
                <!--Note that the ng-repeat is on the row-->
                <tr ng-repeat="item in wms.items" ng-model="wms.profiles">
                    <td ng-click="wms.pickFileEdit(item)">
                    <img ng-src="{{item.itemPhoto}}" style="max-width:150px" />
                    </td>
                    <td ng-click="wms.showModal(item, wms.profiles)">
                    {{item.itemName}}
                    </td>
                </tr>
            </table>            
        </div>
        
    </div>

