<div class="row grey-background">
    <div class="col-md-3">
        <!--Future placeholder for profile image? Or additional space for fields.  Currently holds server side validation errors-->        
        <ul>
            <li class="error" ng-repeat="error in wms.validationErrors">{{error}}</li>
        </ul>
    </div>
    <!--profile form-->
    <div class="col-md-5">
        <h3>Manage or create your account profiles:</h3>
        
        <form name="pForm" novalidate ng-submit="wms.createProfile(account)">
            <div class="form-group">
                <label>Choose a profile to edit, or leave blank to create a new profile:</label>
                <select class="form-control" name="currentProfile"
                        ng-model="wms.selectedProfile"
                        ng-options="profile.fullname for profile in wms.profiles"
                        ng-change="wms.populateFields()"></select>
            </div>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" ng-model="wms.profile.fullname" id="profileFullName" class="form-control" placeholder="Full Name" required/>
                <span ng-show="pForm.profileFullname.$touched && pForm.profileFullname.$error.required" class="error">
                    This field is required
                </span>
            </div>                   
            <div class="form-group">
                <label>Phone:</label>
                <input type="tel" ng-model="wms.profile.phone" id="profilePhone" class="form-control" placeholder="555-555-5555" />
            </div>
            <h4 class="text-info">Current Address:</h4>
            <div class="form-group">
                <label>Street</label>
                <input type="text" ng-model="wms.profile.street" id="profileStreet" class="form-control" placeholder="123 Any St." required/>
                <span ng-show="pForm.profileStreet.$touched && pForm.profileStreet.$error.required" class="error">
                    This field is required
                </span>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" ng-model="wms.profile.city" id="profileCity" class="form-control" placeholder="Any City" required/>
                <span ng-show="pForm.profileCity.$touched && pForm.profileCity.$error.required" class="error">
                    This field is required
                </span>
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" ng-model="wms.profile.state" id="profileState" class="form-control" placeholder="Any State" required/>
                <span ng-show="pForm.profileState.$touched && pForm.profileState.$error.required" class="error">
                    This field is required
                </span>
            </div>
            <div class="form-group">
                <label>Zip</label>
                <input type="text" ng-model="wms.profile.zip" id="profileZip" class="form-control" placeholder="95210" required/>
                <span ng-show="pForm.profileZip.$touched && pForm.profileZip.$error.required" class="error">
                    This field is required
                </span>
            </div>
            <h4 class="text-info">Destination Address:</h4>
            <div class="form-group">
                <label>Street</label>
                <input type="text" ng-model="wms.profile.destinationStreet" id="profileStreet" class="form-control" placeholder="123 Any St." />
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" ng-model="wms.profile.destinationCity" id="profileCity" class="form-control" placeholder="Any City" />
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" ng-model="wms.profile.destinationState" id="profileState" class="form-control" placeholder="Any State" />
            </div>
            <div class="form-group">
                <label>Zip</label>
                <input type="text" ng-model="wms.profile.destinationZip" id="profileZip" class="form-control" placeholder="95210" />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" id="profileBtnCreate" class="btn btn-primary btn-block" value="Create" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="button" id="profileBtnEdit" class="btn btn-info btn-block" value="Save Changes" ng-click = "wms.editProfile()" />
                    </div>
                </div>                
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="button" id="profileBtnDelete" class="btn btn-danger btn-block" value="Delete" ng-click="wms.deleteProfile()" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--Authorized User area-->
    
    <!--<div class="col-md-4" id="authorizedUsers">        
        <h3>Add another user:</h3>
        <form name="authUserForm" novalidate ng-submit="wms.createUser(user)">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" ng-model="wms.authUser.aUName" name="aUName" id="authFullName" class="form-control" placeholder="Full Name" required/>
                <span ng-show="authUserForm.aUName.$touched && authUserForm.aUName.$error.required" class="error">
                    This field is required
                </span>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" ng-model="wms.authUser.email" name="aUEmail" class="form-control" placeholder="name@example.com" required />
                <span ng-show="authUserForm.aUEmail.$touched && authUserForm.aUEmail.$error.required" class="error">
                    This field is required
                </span>
            </div>
            <div class="form-group">
                <input type="submit" id="authUserBtnAdd" class="btn btn-primary btn-block" value="Add User"/>
            </div>
        </form>
    </div>-->
</div>